@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;800,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: Roboto, Lato, Arial;
  font-weight: 400;
  background-color: #f9fafc;
  color: #335865;
}

body > div#__next {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafcfc;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Box-sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
