.wrapper {
  background-color: rgb(193, 211, 166);
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  background-color: grey;
  width: 200px;
  padding: 10px;

}

.content {
  padding: 10px;
}


.label {
  color: pink;
}